:root{
  --primario: rgb(61, 37, 80);
  --background: rgb(39, 39, 39);
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  color: white!important
}

a{
  text-decoration: none!important;
  color: white!important;
}

body{
  /* background: linear-gradient(150deg, rgb(33, 15, 100) 0%, rgb(81, 46, 102) 100%); */
  /* background: linear-gradient(180deg, rgb(42, 17, 58) 0%, rgb(18, 14, 20) 100%); */
  background-color: var(--primario)!important;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

li{
  list-style: none;
}

.App {
  text-align: center;
}

.defaultShadow{
  box-shadow: 0px 0px 20px -10px rgb(0, 0, 0)!important;
}

.content{
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: 0px 0px 50px -3px rgba(19, 19, 19, 0.94);
  width: 95%;
}

.btn{
  background-color: var(--primario)!important;
  color: white!important;
  box-shadow: 0px 0px 20px -5px rgba(19, 19, 19, 0.94)!important;
  transition: filter 150ms!important
}

  .btn:hover{
    filter: brightness(0.8)
  }

  .btn:focus,.btn:active {
    outline: none !important;
    box-shadow: 0px 0px 20px -5px rgba(19, 19, 19, 0.94)!important;
  }

.backgroundButton{
  background-color: white!important;
  color: rgb(158, 103, 175)!important;
}

.buttonReact{
  transition: transform 100ms!important
}

.buttonReact:active{
  transform: scale(1.2)!important;
  transition: 300ms;
}

.dice{
  width: 20%;
}

.outletBody{
  min-height: 88vh;
}

.marcador h3{
  font-size: 3em;
}

.textHover{
  transition: filter 150ms
}

  .textHover:hover{
    filter: brightness(0.8)
  }

.purpleText{
  color: var(--primario)!important;
  filter: brightness(1.7);
}

.ocuppy{
  min-width: 100%;
}